/* Header */

.logo {
	display: inline-block;
	margin-right: 10px;
}

.logo, .logo img {
	height: 50px;
	width: 30px;
}

.header-name {
	position: absolute;
	top: 11px;
	color: #777;
	font-size: 19px;
}

header {
	height: 50px;
	background-color: #F8F8F8;
	border-bottom: 1px solid #E7E7E7;
}

.navbar-container {
	display: flex;
	width: 90%;
	margin: auto;
	justify-content: space-between;
	align-items: center;
}

@media screen and (min-width: 768px) {
	.navbar-container {
		width: 75%;
	}
}

.navbar-links {
	display: none;
	position: absolute;
	top: 60px;
	right: 0;
	margin: -10px 0 0 0;
}

.navbar-links.open {
	display: block;
	width: 100px;
	padding: 12px 0;
	text-align: center;
	background-color: #F8F8F8;
	border: 1px solid #E7E7E7;
	border-top: none;
}

.navbar-links a {
	display: block;
	padding: 7px;
	font-size: 14px;
	color: #777;
}

.navbar-links a:hover, .navbar-links a:active {
	background-color: #D9E033;
}

.navbar-links a:last-child {
	margin-right: 0;
}

.navbar-toggle {
	position: absolute;
    right: 30px;
    top: 8px;
    padding: 9px 10px;
    margin-bottom: 8px;
    background-color: transparent;
    background-image: none;
    border: 1px solid #DDD;
    border-radius: 4px;
    cursor: pointer;
}

.navbar-toggle .icon-bar {
	display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
    background-color: #888;
}

.navbar-toggle .icon-bar + .icon-bar {
	margin-top: 4px;
}

@media screen and (min-width: 480px) {
	.navbar-links.open {
		width: 135px;
	}
}

@media screen and (min-width: 768px) {
	.navbar-links {
		position: relative;
		display: inline-block;
		top: initial;
		right: initial;
	}

	.navbar-links a {
		display: inline-block;
		padding: 14px;
	}

	.navbar-toggle {
		display: none;
	}
}

/* Footer */
footer {
	position: absolute;
	bottom: 0;
	height: 50px;
	width: 100%;
	margin-top: 55px;
	background-color: #f8f8f8;
	border-top: 1px solid #e7e7e7;
}

footer a, footer p {
	margin: 0;
	color: #777;
	font-size: 13px;
}

@media screen and (min-width: 480px) {
	footer a, footer p {
		font-size: 15px;
	}
}

.copyright {
	vertical-align: middle;
	font-size: 11px;
}

.footer-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 90%;
	margin: auto;
	padding: 12px 0;
}

@media screen and (min-width: 768px) {
	.footer-container {
		width: 75%;
	}
}

footer img {
	display: inline-block;
	height: 20px;
	width: 20px;
	margin-top: -3px;
	vertical-align: middle;
}

.linkedin {
	margin-left: 15px;
}

.github {
	margin-left: 5px;
}