::-webkit-scrollbar {
	display: none;
}

.sr-only {
	display: none;
}

html {
	position: relative;
	min-height: 100%;
}

body {
	margin: 0;
	padding: 0 0 75px;
	font-family: 'Catamaran', sans-serif;
	letter-spacing: .02em;
	color: #333;
}

.container {
	margin: 0 auto;
	padding: 0;
	width: 75%;
}

.flex-container {
	display: flex;
	align-items: flex-start;
}

/* Links */

a, a:visited {
	text-decoration: none;
}

a:hover, a:active, a:focus {
	text-decoration: underline;
	text-underline-position: under;
}

a.header-name {
	text-decoration: none;
}

/* Peacock - Main Page */

.peacock-illustration {
	margin: 0 auto;
	padding: 55px 0 0;
	width: 300px;
}

.peacock-link {
	position: absolute;
	left: 55%;
	top: 38%;
	text-decoration: none;
	color: #FBAF3F;
	font-size: 15px;
	animation-name: peacockLink;
	animation-duration: .5s;
	animation-delay: 3.75s;
	animation-timing-function: ease-in;
	opacity: 0;
	animation-fill-mode: forwards;
}

@-webkit-keyframes peacockLink {
	from {opacity: 0;}
	to {opacity: 1;}}
@-o-keyframes peacockLink {
	from {opacity: 0;}
	to {opacity: 1;}}
@-moz-keyframes peacockLink {
	from {opacity: 0;}
	to {opacity: 1;}}
@keyframes peacockLink {
	from {opacity: 0;}
	to {opacity: 1;}}

/* Headers */

h1 {
	text-align: center;
	font-size: 2em;
	font-weight: 700;
	margin-top: 50px;
	margin-bottom: 50px;
	color: #333;
}

/* Buttons */

.button {
	display: inline-block;
	margin-top: 12px;
	padding: 7px 12px;
	font-size: 16px;
	background-color: #D9E033;
	border: 1px solid #BCC229;
	cursor: pointer;
}

a.button {
	text-decoration: none;
}

.button:hover {
	background-color: #FFF;
	border: 1px solid #333;
}

/* Images */

.randi-photo {
	flex-basis: 30%;
	margin-right: 45px;
}

.peacock {
	width: 200px;
	margin-right: 45px;
}

.flex-container img {
	width: 333px;
	height: 266px;
	border: 1px solid #777;
	opacity: .5;
	cursor: pointer;
	transition: opacity 1s;
}

.flex-container img:hover {
	border-color: #D9E033;
	opacity: 1;
}

/* Body Text */

.about-text p:not(.lead) {
	margin: 10px 0;
}

.lead {
	margin: 0 0 22px 0;
	font-size: 24px;
	line-height: 32px;
}

/* Form */

.form-control {
	resize: none;
}

.form-group {
	margin-bottom: 22px;
}

input, textarea {
	display: block;
	width: 96.5%;
	height: 34px;
	padding: 0 12px;
	font-size: 14px;
	line-height: 1.4;
	color: #333;
	background-color: #FFF;
	border: 1px solid #CCC;
	border-radius: 2px;
}

textarea {
	padding: 12px 12px 0;
	resize: none;
}

.messages {
	height: 45px;
}

.messages .alert {
	display: none;
}




body.extra_footer_space {
	padding-bottom: 100px;
}

body#weather {
	margin-top: 15px;
}

hr {
	border-color: #dcddde;
}

/*media queries*/

@media only screen and (min-width : 480px) and (max-width: 767px) {
	img.randi {
		margin-bottom: 30px;
	}

	.portfolio_description {
		margin: 0 0 30px 0;
	}

	.calculator {
		margin-bottom: 50px;
	}

	.weather {
		margin-top: 50px;
	}
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
	.weather {
		margin-top: 50px;
	}
}

/*divs*/

div.portfolio_callout {
	background-color: #fbaf3f;
	height: auto;
	padding: 75px 0;
}

div.callout_container {
	width: 80%;
	margin: auto;
}

div.liv_100_width {
	width: 100%;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

div.white_bg, div.full_width {
	width: 100%;
	padding: 75px 0;
}

div.full_width {
	background-color: #fbfbfb;
	border-top: 1px solid #dcddde;
	border-bottom: 1px solid #dcddde;
}

div.container-fluid {
	margin: auto;
	width: 70%;
	padding: 0;
}

div.photo_section {
	padding-bottom: 75px;
}

div.about {
	margin-left: 30px;
}

/*images*/

img.thumb {
	border: 1px solid #e7e7e7;
}

img.mp_full {
	border-top: 1px solid #e7e7e7;
	border-bottom: 1px solid #e7e7e7;
}

img.liv_100_width_image {
	width: 100%;
}


img.liv_full_size_image, img.mp_full_size_image {
	width: 100%;
}

/*text*/

h2.portfolio_head_gray, h2.portfolio_head_white, h2.resume_head_gray {
	font-size: 1.75em;
	font-weight: 500;
	margin-top: 0;
}

h2.resume_head_gray {
	margin-top: 25px;
	margin-bottom: 25px;
}

h2.portfolio_head_gray, h3.resume_head_gray {
	color: #333;
}

h2.portfolio_head_white {
	color: #fff;
}

.title {
	color: #e8ae30;
}

p, h3, h4, h5, h6 {
	color: #333;
}

p.categories_small {
	text-transform: lowercase;
	color: #a7a9ac;
	margin-top: 0;
}

p.photo_caption {
	margin-top: 15px;
}

p.callout_desc_white {
	color: white;
}

span.project_info_head {
	font-weight: 600;
	margin-right: 3px;
}

span.strong {
	font-weight: bold;
}

span.skill_category {
	font-weight: 500;
	margin-right: 10px;
	color: #a7a9ac;
}

li.project_info {
	list-style: none;
	display: block;
}

ul.portfolio_stats {
	padding: 0;
}

span.dates {
	font-family: 'Roboto Slab', serif;
	font-weight: 400;
	font-size: .9em;
	padding-left: 15px;
	color: gray;
}

span.number {
	font-family: 'Roboto Slab', serif;
	font-weight: 300;
}

h4.company, .school {
	font-weight: 500;
}

/*links*/

a.portfolio_link {
	display: block;
	color: #d9e033;
}

a:hover.portfolioLink {
	color: #d9e033;
	text-decoration: none;
	font-weight: 700;
}

a.see_project {
	color: #d9e033;
	font-weight: 400;
	text-decoration: none;
}

a:hover.see_project {
	font-weight: 700;
	color: #d9e033;
	font-weight: 700;
	text-decoration: none;
}

/*spacers*/

.margin_top_20 {
	margin-top: 20px;
}

.margin_top_60 {
	margin-top: 60px;
}

.margin_bottom_20 {
	margin-bottom: 20px;
}

.margin_bottom_60 {
	margin-bottom: 60px;
}

/*buttons*/

.btn-default, .btn-default:visited {
	background-color: #d9e033;
	border-color: #bcc229;
	color: #333;
}

.btn-default:hover, .btn-default:active, .btn-default:focus {
	font-weight: normal;
	background-color: #fff !important;
	border-color: #333 !important;
	color: #333 !important;
}

.btn-lg {
	padding: 12px 18px;
}

.btn-lg, .btn-group-lg > .btn {
	border-radius: 0;
}

/*navbar*/

.navbar {
	margin-bottom: 0;
}

ul.navbar-nav, ul.navbar-nav > li.dropdown > ul.dropdown-menu {
	text-align: center;
}

.navbar-brand {
	padding-right: 8px;
}

.dropdown-menu {
	min-width: 0;
	-webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, .085);
	box-shadow: 0 3px 6px rgba(0, 0, 0, .085);
}

/*icons*/

i.fa.fa-check.about {
	color: #e8ae30;
	margin-top: 20px;
	margin-right: 8px;
	font-size: .75em;
}