.st0 {
	fill:url(#SVGID_1_);
}
.st1{fill:url(#SVGID_2_);}
.st2{fill:url(#SVGID_3_);}
.st3{fill:url(#SVGID_4_);}
.st4{fill:url(#SVGID_5_);}
.st5{fill:#303030;}
.st6{fill:#FFFFFF;}
.st7{fill:#939393;}
.st8{fill:#D12229;}
.st9{fill:url(#SVGID_6_);stroke:#72932A;stroke-width:0.1;stroke-miterlimit:10;}
.st10{fill:url(#SVGID_7_);}
.st11{fill:url(#SVGID_8_);}
.st12{fill:url(#SVGID_9_);}
.st13{fill:url(#SVGID_10_);}
.st14{fill:url(#SVGID_11_);}
.st15{fill:url(#SVGID_12_);}
.st16{fill:url(#SVGID_13_);}
.st17{fill:url(#SVGID_14_);}
.st18{fill:url(#SVGID_15_);}
.st19{fill:url(#SVGID_16_);}
.st20{fill:url(#SVGID_17_);}
.st21{fill:url(#SVGID_18_);}
.st22{fill:url(#SVGID_19_);}
.st23{fill:url(#SVGID_20_);}
.st24{fill:url(#SVGID_21_);}
.st25{fill:url(#SVGID_22_);}
.st26{fill:url(#SVGID_23_);}
.st27{fill:url(#SVGID_24_);}
.st28{fill:url(#SVGID_25_);}
.st29{fill:url(#SVGID_26_);}
.st30{fill:url(#SVGID_27_);}
.st31{fill:url(#SVGID_28_);}
.st32{fill:url(#SVGID_29_);}
.st33{fill:url(#SVGID_30_);}
.st34{fill:url(#SVGID_31_);}
.st35{fill:url(#SVGID_32_);}
.st36{fill:url(#SVGID_33_);}
.st37{fill:url(#SVGID_34_);}
.st38{fill:url(#SVGID_35_);}
.st39{fill:url(#SVGID_36_);}
.st40{fill:url(#SVGID_37_);}
.st41{fill:url(#SVGID_38_);}
.st42{fill:url(#SVGID_39_);}
.st43{fill:url(#SVGID_40_);}
.st44{fill:url(#SVGID_41_);}
.st45{fill:url(#SVGID_42_);}
.st46{fill:url(#SVGID_43_);}
.st47{fill:url(#SVGID_44_);}
.st48{fill:url(#SVGID_45_);}
.st49{fill:url(#SVGID_46_);}
.st50{fill:url(#SVGID_47_);}
.st51{fill:url(#SVGID_48_);}
.st52{fill:url(#SVGID_49_);}
.st53{fill:url(#SVGID_50_);}
.st54{fill:url(#SVGID_51_);}
.st55{fill:url(#SVGID_52_);}
.st56{fill:url(#SVGID_53_);}
.st57{fill:url(#SVGID_54_);}
.st58{fill:url(#SVGID_55_);}
.st59{fill:url(#SVGID_56_);}
.st60{fill:url(#SVGID_57_);}
.st61{fill:url(#SVGID_58_);}
.st62{fill:url(#SVGID_59_);}
.st63{fill:url(#SVGID_60_);}
.st64{fill:url(#SVGID_61_);}
.st65{fill:url(#SVGID_62_);}
.st66{fill:url(#SVGID_63_);}
.st67{fill:url(#SVGID_64_);}
.st68{fill:url(#SVGID_65_);}
.st69{fill:#9DAA21;}
.st70{fill:url(#SVGID_66_);}
.st71{fill:url(#SVGID_67_);}
.st72{fill:url(#SVGID_68_);}
.st73{fill:url(#SVGID_69_);}
.st74{fill:url(#SVGID_70_);}
.st75{fill:url(#SVGID_71_);}
.st76{fill:url(#SVGID_72_);}
.st77{fill:url(#SVGID_73_);}
.st78{fill:url(#SVGID_74_);}
.st79{fill:url(#SVGID_75_);}
.st80{fill:url(#SVGID_76_);}
.st81{fill:url(#SVGID_77_);}
.st82{fill:url(#SVGID_78_);}
.st83{fill:url(#SVGID_79_);}
.st84{fill:url(#SVGID_80_);}
.st85{fill:url(#SVGID_81_);}
.st86{fill:url(#SVGID_82_);}
.st87{fill:url(#SVGID_83_);}
.st88{fill:url(#SVGID_84_);}
.st89{fill:url(#SVGID_85_);}
.st90{fill:url(#SVGID_86_);}
.st91{fill:url(#SVGID_87_);}
.st92{fill:url(#SVGID_88_);}
.st93{fill:url(#SVGID_89_);}
.st94{fill:url(#SVGID_90_);}
.st95{fill:url(#SVGID_91_);}
.st96{fill:url(#SVGID_92_);}
.st97{fill:url(#SVGID_93_);}
.st98{fill:url(#SVGID_94_);}
.st99{fill:url(#SVGID_95_);}
.st100{fill:url(#SVGID_96_);}
.st101{fill:url(#SVGID_97_);}
.st102{fill:url(#SVGID_98_);}
.st103{fill:url(#SVGID_99_);}
.st104{fill:url(#SVGID_100_);}
.st105{fill:url(#SVGID_101_);}
.st106{fill:url(#SVGID_102_);}
.st107{fill:url(#SVGID_103_);}
.st108{fill:url(#SVGID_104_);}
.st109{fill:url(#SVGID_105_);}
.st110{fill:url(#SVGID_106_);}
.st111{fill:url(#SVGID_107_);}
.st112{fill:url(#SVGID_108_);}
.st113{fill:url(#SVGID_109_);}
.st114{fill:url(#SVGID_110_);}
.st115{fill:url(#SVGID_111_);}
.st116{fill:url(#SVGID_112_);}
.st117{fill:url(#SVGID_113_);}
.st118{fill:url(#SVGID_114_);}
.st119{fill:url(#SVGID_115_);}
.st120{fill:url(#SVGID_116_);}
.st121{fill:url(#SVGID_117_);}
.st122{fill:url(#SVGID_118_);}
.st123{fill:url(#SVGID_119_);}
.st124{fill:url(#SVGID_120_);}
.st125{fill:url(#SVGID_121_);}
.st126{fill:url(#SVGID_122_);}
.st127{fill:url(#SVGID_123_);}
.st128{fill:url(#SVGID_124_);}
.st129{fill:url(#SVGID_125_);}
.st130{fill:url(#SVGID_126_);}
.st131{fill:url(#SVGID_127_);}
.st132{fill:url(#SVGID_128_);}
.st133{fill:url(#SVGID_129_);}
.st134{fill:url(#SVGID_130_);}
.st135{fill:url(#SVGID_131_);}
.st136{fill:url(#SVGID_132_);}
.st137{fill:url(#SVGID_133_);}
.st138{fill:url(#SVGID_134_);}
.st139{fill:url(#SVGID_135_);}
.st140{fill:url(#SVGID_136_);}
.st141{fill:url(#SVGID_137_);}
.st142{fill:#EF7335;}
.st143{clip-path:url(#SVGID_139_);fill:#68280C;}
.st144{fill:url(#SVGID_140_);}
.st145{fill:url(#SVGID_141_);stroke:#72932A;stroke-width:0.1;stroke-miterlimit:10;}

.st141, .st30, .st140, .st16, .st14, .st131, .st112, .st10, .st65, .st132, .st22, .st11, .st63, .st12, .st64, .st13, .st25, .st33, .st48, .st60, .st58, .st59, .st106, .st105, .st104, .st134, .eye1, .eye2, .eye3, .st133, .st29, .st53, .st15, .st62, .st55, .st130, .st113, .st18, .st101, .st108, .st100, .st109, .st99, .st44, .st61, .st54, .st103, .st17, .st111, .st35, .st24, .st107, .st127, .st110, .st119, .st34, .st40, .st28, .st56, .st135, .st124, .st27, .st102, .st38, .st57, .st39, .st46, .eye4, .eye5, .eye6, .eye7, .eye8, .st120, .st47, .st128, .st49, .st129, .st137, .st36, .st26, .st125, .st37, .st123, .st121, .st115, .st114, .st116, .st118, .st117, .st41, .st66, .st122, .st126, .st32, .st31, .st136, .st23, .st52, .st67, .st51, .st45, .st50, .st32, .st19, .st138, .st21, .st43, .st42, .st98, .eye9, .eye10 {
	animation-name: topfeathers;
	animation-duration: .3s;
	animation-delay: 0s;
	animation-timing-function: ease-in;
	opacity: 0;
	animation-fill-mode: forwards;
}

.st30, .st140 {animation-delay: .07s}
.st16, .st14 {animation-delay: .14s}
.eye1 {animation-delay: .14s}
.st131, .st112 {animation-delay: .21s}
.st10, .st65 {animation-delay: .28s}
.eye2 {animation-delay: .28s}
.st132, .st22 {animation-delay: .35s}
.st11, .st63 {animation-delay: .42s}
.eye3 {animation-delay: .42s}
.st12, .st64 {animation-delay: .49s}
.st13, .st25 {animation-delay: .56s}
.st33, .st48 {animation-delay: .63s}
.st60, .st58 {animation-delay: .7s}
.st59, .st106 {animation-delay: .77s}
.st105, .st104, .st134 {animation-delay: .84s}

.eye4 {animation-delay: .84s}
.st133, .st29 {animation-delay: .91s}
.st53, .st15 {animation-delay: .98s}
.eye5 {animation-delay: .98s}
.st62, .st55 {animation-delay: 1.05s}
.st130, .st113 {animation-delay: 1.12s}
.st18, .st101 {animation-delay: 1.19s}
.st108, .st100 {animation-delay: 1.26s}
.st109, .st99 {animation-delay: 1.33s}
.st44, .st61 {animation-delay: 1.4s}
.eye6 {animation-delay: 1.4s}
.st54, .st103 {animation-delay: 1.47s}
.st17, .st111 {animation-delay: 1.54s}
.st35, .st24 {animation-delay: 1.61s}
.st107, .st127 {animation-delay: 1.68s}
.st110, .st119 {animation-delay: 1.75s}
.eye7 {animation-delay: 1.75s}
.st34, .st40 {animation-delay: 1.82s}
.st28, .st56 {animation-delay: 1.89s}
.st135, .st124 {animation-delay: 1.96s}
.eye8 {animation-delay: 1.96s}
.st27, .st102 {animation-delay: 2.03s}
.st38, .st57 {animation-delay: 2.1s}
.st39, .st46 {animation-delay: 2.17s}

.st120, .st47 {animation-delay: 2.24s}
.st128, .st49 {animation-delay: 2.31s}
.st129, .st137 {animation-delay: 2.38s}
.st36, .st26 {animation-delay: 2.45s}
.st125, .st37 {animation-delay: 2.52s}
.st123, .st121 {animation-delay: 2.59s}
.st115, .st114 {animation-delay: 2.66s}
.eye9 {animation-delay: 2.66s}
.st116, .st118 {animation-delay: 2.73s}
.st117, .st41 {animation-delay: 2.8s}
.st66, .st122 {animation-delay: 2.87s}
.st126, .st32 {animation-delay: 2.95s}
.st31, .st136 {animation-delay: 3.02s}
.eye10 {animation-delay: 3.02s}
.st23, .st52 {animation-delay: 3.09s}
.st67, .st51 {animation-delay: 3.16s}
.st45, .st50 {animation-delay: 3.23s}
.st32, .st19 {animation-delay: 3.3s}
.st138, .st21 {animation-delay: 3.37s}
.st43, .st42 {animation-delay: 3.43s}
.st98 {animation-delay: 3.5s}

@-webkit-keyframes topfeathers {
	from {opacity: 0;}
	to {opacity: 1;}}
@-o-keyframes topfeathers {
	from {opacity: 0;}
	to {opacity: 1;}}
@-moz-keyframes topfeathers {
	from {opacity: 0;}
	to {opacity: 1;}}
@keyframes topfeathers {
	from {opacity: 0;}
	to {opacity: 1;}}